body {
    background-color: #efefef;
    width: 100%;
}

p{
    text-align: center;
    color:rgb(0, 0, 0);
    margin-top: 40px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navegador{
    text-align: center;
}

.navegador a {
    color:rgb(0, 0, 0);
    text-decoration:none;
    font-size:18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3px;
    letter-spacing: 2px;
    margin: 0px;  
}

.navegador a:hover {
    border: solid lightblue 1px;
    border-radius: 3px;
    
}

.logo{
    text-align: center;
    margin-top: 30px;
}

.logo img {
    border-radius: 12px;
}

.footer_final a{
    text-decoration: none;
    margin-top: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
}