*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: #0c1022;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #40424c;
    opacity: 0.9;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: rgb(255, 255, 255);
}

.header .logo{
    font-size: 25px;
    font-weight: 600;
    margin-left: 25px;
}

.navbar{
    margin-right: 25px;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
    
}

.navbar #activated{
    color: rgb(255, 72, 72);
}

.navbar #activated:hover{
    color: white;
    transition: .3s;
}

.navbar #noactivated:hover{
    color: rgb(255, 72, 72);
    transition: .3s;

}

.saludo{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    font-weight: 800; 
    font-size: larger;
}

.saludo p{
    font-weight: 100;
    font-style: italic;
    
}


.section{
    position:absolute;
    top: 40%;
    margin-left: 200px;
}

.section img{
    height: 300px;
    width: 500px;
    border-radius: 5px;
    opacity: 0;
}

.section img:hover{
    transition: 1s;
    opacity: 1;
    box-shadow: 3px 3px 7px #fff;
}

.section a{
    margin-left: 80px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
}

.section a:hover{
    transition: .5s;
    background-color: rgb(255, 72, 72);
    color: #0c1022;
}

.aside-1{
    background-color: aliceblue;
    position: absolute;
    top: 30%;
    left: 70%;
    margin-right: 70px;
    max-width: 40%;
    max-height: 40%;
    border: solid 1px white;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: -2px -2px 3px whitesmoke;
    padding: 5px;
    
}

.aside-1 h3{
    font-weight: 750;
    margin-bottom: 10px;
    text-decoration: underline; 
    color: black;
}

.aside-1 p{
    font-weight: 150;
    color: black;
}

.aside-2{
    background-color: aliceblue;
    position: absolute;
    top: 75%;
    left: 70%;
    margin-right: 70px;
    max-width: 40%;
    max-height: 40%;
    overflow: scroll;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px whitesmoke;
    padding: 5px;
}

.aside-2 h3{
    font-weight: 750;
    margin-bottom: 10px;
    text-decoration: underline;
    color: black;
}

.aside-2 p{
    font-weight: 150;
    color: black;
}

.footer{
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items:center;
    top: 130%;
    background-color: #40424c;
    opacity: 0.9;
}

.footer .logos img{
    width: 50px;
    height: 50px;
    margin-left: 35px;
    border: 2px solid white;
    border-radius: 15px;
}

#t:hover{
    background-color: rgb(0, 72, 255);
    transition: .2s;
    border-radius: 15px;
    opacity: .5;
}

#i:hover{
    background-color:#ff25ff;
    transition: .2s;
    border-radius: 15px;
    opacity: .5;
}

.footer .enlaces{
    margin-left: auto;
    margin-right: 15px;
    font-weight: 100;
    
}

.footer .enlaces a{
    text-decoration: none;
    margin-left: 15px;
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px;
}

.footer .enlaces a:hover{
    background-color: rgb(255, 72, 72);
    opacity: .9;
    transition: .2s;
}

.footer p{
    margin-left: 50px;
}


@media(max-width:1030px){
    .section{ 
        position: absolute;
        top: 60%;
        left: 30%;
        transform: translate(-50%,-50%);
    }

    .aside-1{
        top: 120%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 40%;
        max-height: 40%;

    }

    .aside-2{
        top: 170%;
        left: 50%;
        transform: translate(-50%,-50%); 
    }

    .footer{
        top:200%;
    }
}

@media (max-width:865px){
    .footer{
        width: 100%;
        height: 300px;
    }


    .logos{
        position: absolute;
        margin-left: 37%;
        top: 35px;
    }

    .footer .enlaces{
        position: absolute;
        margin-top: 20%;
        margin-left: 30%;
        
    }

    .footer p{
        position: absolute;
        margin-left: 32%;
        
    }
}

@media(max-width:698px){
    .header .logo{
        margin-left: 60px;
    }

    .section{
        position: absolute;
        left: 23%;
    }

    .navbar a{
        display: block;
        margin-right: 60px;
    }
}













