body {
    background-color: #efefef;
    width: 100%;
}

.contenedor {
    height: fit-content;
    width:100%;
}

.header_nav {
    background-color: #30A6FF;
    color:rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    height: 175px;
    margin-top: -19px;
}

.header_nav a {
    border: none;
    text-align:left;
    margin-left:0px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
    text-decoration: none;
}

.header_nav h1 {
    text-align:left;
    margin-left:45px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
}

.header_nav p {
    text-align: right;
    margin-top: -45px;
    margin-right: 45px;
    font-size: 20px;
}

.header_nav h2{
    text-align:left;
    margin-left:45px;
}

.header_nav h3 {
    text-align:left;
    margin-left:35px;
}

.header_nav h4 {
    text-align: left;
    margin-left: 45px;
    margin-top: -15px;
}

.navegador{
    margin-top: 30px;
}

.navegador a {
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-size:18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3px;
    letter-spacing: 2px;
    margin: 0px;  
}

.navegador a:hover {
    border: solid lightblue 1px;
    border-radius: 3px;
    
}

.atraer {
    margin-top: -10px;
}

.nosotros {
    text-align: center;
    width: 100%;   
}

.nosotros span {
    text-decoration:underline;
    font-size:18px;
}

.imagen_coche{
    text-align: center;
    display: block;
    border:solid black 1px;   
}
